@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color:black;
}

h6 {
    color: aliceblue;
}

button {
    font-size: 1.6rem;
    font-weight: 700;
    outline: none;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: black;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 50px;  /* distance from bottom */
    left: 50%;     /* center horizontally */
    transform: translateX(-50%); /* truly center */
}

button:hover {
    background-color: #fff;
    color: #000; 
}

.navbar {
    background: black;
    font-size: 16px;
    top: 0;
    left: 0;
}

.navbar-dark .navbar-nav .nav-link{
    padding: 0 20px;
    color: white;
    transition: 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-dark .navbar-nav .nav-link.active
.navbar i.active { 
    color: grey;
}

.navbar i{
    font-size: 1.2rem;
}

.navbar i{
    font-size: 1rem;
    padding: 0 20px;
    cursor:pointer;
    transition: 0.3s ease;

}

.navbar i{
    color: aliceblue;
}

/* Navbar toggle */
.navbar-toggler {
    border: 1px solid #000;
    border-radius: 15px;
    background-color: black;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

/* Icon inside the toggle */
.navbar-toggler i {
    color: white;
    font-size: 1.4rem;
}

/* Hover effect */
.navbar-toggler:hover {
    background-color: white;
}

.navbar-toggler:hover i {
    color: black;
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
#bar {
    font-size: 1.5rem;
    padding: 0;
}

.navbar-toggler {
    padding: 10px 18px;
}

.navbar-toggler {
    position: static;      
    left: auto;
    bottom: auto;
    transform: none;
    margin-left: auto;    
}

@media only screen and (max-width: 991px) {
    body>nav>div>button: hover,
    body>nav>div>button: focus {
        background-color: black;
    }
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar {
        color: white;
    }
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }

}

#home {
    background-image: url("../itc/img/home2.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* center the image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

